<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Winter Thread">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <!--
    Coverage report: run with XDEBUG_MODE=coverage php vendor/bin/phpunit
    or add the -\-coverage-html build/coverage flag.
    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
        </report>
    </coverage>
    -->

</phpunit>
